.imgCard{
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.cardsProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    height: 500px;
    width: 300px;
    background-color: bisque;
}

.titleCard{
    font-size: 16px;
    margin: 0;
}

.addToCart {
    border-color:black;
    border-radius: 30%;
    transition: .3s;
    width: 50px;
}

.addToCart:hover {
    background-color:rgba(255, 196, 119, 0.476)
}